@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared style */
    .display-flex{
        display: flex;
    }
    /* dark 02 */
    .text-gray{
        color: rgb(66, 66, 66);
    }
    .text-gray-light{
        color: rgb(114, 114, 114);
    }
    .text-dark{
        font-family:Work Sans ;
       font-weight: 700;
       font-size:4rem;
        color: rgb(19, 19, 19);
    }
    .text-dark02{
        font-family:Work Sans ;
        font-weight: 700;
        font-size:2.8rem;
        color: rgb(19, 19, 19);
    }
    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
    }
    .btn-primary{
        border-radius: 8px;
        background-color: rgb(255, 144, 14);
        color: white;
        padding: 20px 25px;
        font-size: 1.25rem;
        font-weight: 600;
        border: none;
    }
    main{
        max-width: 1440px;
        margin: 0 auto;
    }
    main>section{
        margin-top: 130px;
    }
  /* nav style */
  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
    .nav-item{
        list-style: none;
        margin-right: 30px;
    }

    .nav-link{
        font-weight: 500;
        text-decoration: none;
    }
    .navbar{
        justify-content: space-between;
        align-items: center;
    }
    
  /* header style */
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image{
    width: 100%;
}
/* team section */
    .team{
        
        align-items: center;
    }
    .team-image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .team-feature{
        margin-left: 130px;
        max-width: 550px;
    }
    .team-feature h3{
        margin-bottom: 20px;
    }
    .team-feature p{
        font-weight: 500;
        margin-bottom: 20px;
    }
    /* facts card */
    .fact-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .fact-card{
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 250px;
        width: 250px;
        border: 1px solid rgb(255, 144, 14);
        border-radius: 8px;

    }
    .fact-number{
        font-size: 2.8rem;
        font-weight: 600;
        margin-top: 5px ;
        margin-bottom: 10px;
        color: rgb(19, 19, 19);
    }
    .fact-name{
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 10px;
        color: rgb(114, 114, 114);
    }
    .facts> h3{
        margin-bottom: 20px;

    }
    .facts> p{
        max-width: 550px;
        margin-bottom: 30px;
    }
/* media */
@media  screen and (max-width:576px) {
    .navbar,
     .nav-links,
     .team{
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: repeat(1,1fr);
    }
    .team-feature{
        margin-left: 20px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .team{
        flex-direction: column;
    }
    .team-feature{
        margin: 20px auto;
    }
}